*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

/*                      01                        */
/* 
#box{
    height: 400px;
    width: 400px;
    background-color: red;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
    position: relative;
}

@keyframes move {
    from{
        left: 0;
    }to{
        left: 60%;
        rotate: 180deg;
        background-color: blue;
    }
} */


/*                               02               */

img{
    height: 60px;
    position: relative;
    animation-name: anime;
    animation-delay: 1s;
    animation-duration: 1s;
}

@keyframes anime {
    from{
        left: 0;
        top: 0;
    }to {
        left: 75%;
        top: 81%;
    }
}